*{
    font-family: 'Times New Roman', Times, serif;
    color:#2d1c06;
}

body{
    background-color: #faebd7;
}
/*img{
    display: block;
    margin-left: auto;
    margin-right: right;
}*/
.cabecalho{
    text-align: center;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 2px 2px 5px #71460e;
}
p{
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#faebd7, #2d1c06);
    color: rgb(0, 0, 0);
    text-align: center;
 }
.primeira{
    text-align: left;
}
img{
    float:right;
}