*{
    font-family: 'Times New Roman', Times, serif;
    color:#330000;
}

body{
    background-color: antiquewhite;
}
img{
    display: block;
    margin-left: auto;
    margin-right: right;
}
.cabecalho{
    text-align: center;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}
p{
    text-align: center;
}
ul{
        border: 2px solid #330000;
        padding: 2px;
}